<content class="mat-dialog-container">
    <h2 mat-dialog-title>Mi carrito</h2>
    <mat-dialog-content class="mat-typography">
    <h3>Lista de productos</h3>

    <mat-list *ngFor="let producto of pedido.productos">
        <mat-list-item>
            <img src="{{ producto.producto.imagen }}" alt="Photo" style="width: 40px; height: 40px;">
            {{producto.producto.nombre}} 
            <button (click)="addProduct(producto.producto)">+</button>
            <button (click)="removeProducto(producto.producto)">-</button>
            <label>Cantidad {{producto.cantidad}}</label>
            <label>Precio unidad {{producto.producto.precio}}</label>
            </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

    </mat-dialog-content>
</content>

<footer>
    <h3>Cantidad: {{cantidad}} </h3>
    <h3>Total:  {{total}}</h3>
    <button (click)="realizarPedir()">Pedir</button>
</footer>