.social-button{

  text-decoration: none;
  margin: 34px 34px 34px 0px !important;
  width: 242px;
  height: 49px;
  border-radius: 26px;
  background-color: #52b9a5;
  border-color: #52b9a5;
  padding: 0 20px;
  color: #fff;
  
}

.buttom-submit{
  text-decoration: none;
  border-radius: 8px;
  padding: 0 36px;
  margin: 16px;
  height: 40px;
  width: 100%;
}

.card{
  width: 80%;
  height: 50%;
  .conten-card{
    justify-content: center;
    align-items: center;
  }
}

.inputs{
  font-size: 14px;
  height: 40px;
  color: #333;
  background: #fff;
  width: 100%;
  border-radius: 15px;
  padding: 8px 12px;
}

.title{
  color: #484848;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.02;
  letter-spacing: -2.16px;
  margin-bottom: -2px;
}

.label-input{
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 33px;
  letter-spacing: 1px;
  margin: 16px 0 16px;
}

.social-button{
  cursor: pointer;
}

.img-tiendas{
  width: 158px;
  margin-right: 5px;
}

.span{
  color: #707070;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.23;
}

.text{
  .text-title{
    color: #484848;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.02;
    letter-spacing: -2.16px;
    margin-bottom: -2px;
  }
  .text-subtitle{
    padding: 16px 0;
    color: #000;
    font-size: 54px;
    font-weight: 700;
    margin: 0;
    letter-spacing: -4px;
    width: 452px;
    background: linear-gradient(217deg,#52b9a5 46%,#e8e237 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
