<mat-grid-list cols="2">
  <mat-grid-tile>
    <div class="card text">
      <h2 class="text-title">Compra en línea</h2>
      <h2 class="text-subtitle">Para tu negocio</h2>
      <span class="span"> Rentabilidad, conveniencia y servicio a la medida para tu ferretería, obra o deposito. 🤩 </span><br>
      <button class="social-button" type="submit" mat-button color="primary"> Accede a la aplicación web </button><br>
      <span class="span"> Disponible gratis en: </span><br><br>
      <span>
        <img src="https://tul.com.ec/assets/icons/google-play-badge.png" alt="image" class="img-tiendas">
        <img src="https://tul.com.ec/assets/icons/app-store-badge.png" alt="image" class="img-tiendas">
        <img src="https://tul.com.ec/assets/icons/huawei-badge.png" alt="image" class="img-tiendas">
      </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="center">
      <div class="conten-card">
        <h1 class="title">Tambien te puedes registrar con tu correo</h1><br>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div>
          <span class="span"> Correo: </span><br>
          <input class="inputs" placeholder="Correo" formControlName="email" required>
        </div>
        <div>
          <span class="span"> Contraseña: </span><br>
          <input class="inputs" placeholder="* * * * * *"  type="password" formControlName="password">
        </div>
        <div>
          <button class="social-button" type="submit" mat-button color="primary">Registrarme</button>
        </div>
        </form>
      </div>
    </div> 
  </mat-grid-tile>
</mat-grid-list>
