<content class="mat-dialog-container">
    <h2 mat-dialog-title>Mi carrito</h2>
    <mat-dialog-content class="mat-typography">
    <h3>Lista de productos</h3>

    <h3 *ngIf="numProductos == 0">No tienes productos en tu carrito </h3>

    <div *ngIf="numProductos !== 0">
        <mat-list *ngFor="let producto of pedido.productos">
            <mat-list-item style="margin:16px 0px; height: 100px;width: 100%;">
                <div class="listaProducto">
                    <div class="row">
                        <div class="producto">
                            <img src="{{ producto.producto.imagen }}" alt="Photo" style="width: 40px; height: 40px;">
                            <label>{{producto.producto.nombre}} </label>
                        </div>

                        <div>
                            <button class="button mas" (click)="addProduct(producto.producto)">+</button>
                            <button class="button menos" (click)="removeProducto(producto.producto)">-</button>
                        </div>
                    </div>

                    <div class="valor">
                        <label>Cantidad {{producto.cantidad}}</label><br>
                        <label>Precio unidad {{producto.producto.precio}}</label>
                    </div>
                </div>
                </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>

    </mat-dialog-content>
    <footer class="footer" *ngIf="numProductos !== 0">
        <h3>Cantidad: {{cantidad}} </h3>
        <h3>Total:  {{total}}</h3>
        <button class="cart" (click)="realizarPedir()">Pedir</button>
    </footer>
</content>
