<section class="content">

    <div class="titulo">
        <h1 class="title">Productos</h1>
    </div>

    <div class="content-cards">
        <div class="cardBox">
            <mat-card *ngFor="let producto of productos" class="card">
                <mat-card-header class="titulo">
                    <mat-card-title class="title">{{ producto.nombre }}</mat-card-title>
                </mat-card-header>
                <img src="{{ producto.imagen }}" alt="Photo">
                <mat-card-content>
                    <p class="subtitulo">
                        {{ producto.descripcion }}
                    </p>
                </mat-card-content>
                <mat-card-actions class="precio-cards">
                    <mat-card-subtitle>${{ producto.precio | number }}</mat-card-subtitle>
                    <div class="input-send">
                        <button class="cart" mat-button title="Añadir al carrito" (click)="addCarrito(producto)"><mat-icon>shopping_cart</mat-icon></button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</section>