<section class="content">
    <div class="titulo">
        <h2 class="title">Encuentra aquí todo lo que necesitas para tu hogar</h2>
    </div>

    <div class="products row">
        <div class="tarjet">
            <div class="image-tarjet">
                <img src="../../assets/img/imagen1.jpg" />
            </div>
            <div class="tarjet-info tarjet-one">
                <p>Herramientas</p>
            </div>
        </div>

        <div class="tarjet">
            <div class="image-tarjet">
                <img src="../../assets/img/imagen2.jpg" />
            </div>
            <div class="tarjet-info tarjet-two">
                <p>Interruptores</p>
            </div>
        </div>

        <div class="tarjet">
            <div class="image-tarjet">
                <img src="../../assets/img/imagen3.jpg" />
            </div>
            <div class="tarjet-info tarjet-three">
                <p>Tornillos</p>
            </div>
        </div>
    </div>

    <div class="marcas">
        <h1>Marcas Aliadas</h1>
        <div class="marcas-container">
        <div class="logo-box">
            <img src="../../assets/img/Homecenter.png" />
        </div>

        <div class="logo-box">
            <img src="../../assets/img/Homecenter.png" />
        </div>

        <div class="logo-box">
            <img src="../../assets/img/Homecenter.png" />
        </div>

    </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
        <div>
            <div class="logo">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>store</mat-icon>
                </button>
                <span>shopping Cart</span>
              </div>
        </div>
        <div class="social">
            <img src="https://img.icons8.com/fluent/24/000000/facebook-new.png"/>
            <img src="https://img.icons8.com/fluent/24/000000/instagram-new.png"/>
            <img src="https://img.icons8.com/fluent/24/000000/twitter.png"/>
        </div>
    </div>
    </footer>

</section>

